In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [3]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [5]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [6]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [7]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [8]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [9]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [10]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [11]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [12]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

#### ANN Regression Problem Statement

In [13]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From c:\Users\Uyama\Downloads\JANE-UDEMY\NLP\annclassNLP\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [14]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

WARNING:tensorflow:From c:\Users\Uyama\Downloads\JANE-UDEMY\NLP\annclassNLP\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [15]:
## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

WARNING:tensorflow:From c:\Users\Uyama\Downloads\JANE-UDEMY\NLP\annclassNLP\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [16]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [17]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [18]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\Uyama\Downloads\JANE-UDEMY\NLP\annclassNLP\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\Uyama\Downloads\JANE-UDEMY\NLP\annclassNLP\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 4ms/step - loss: 100375.9844 - mae: 100375.9844 - val_loss: 98511.7344 - val_mae: 98511.7344
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 99623.1875 - mae: 99623.1875 - val_loss: 96996.5234 - val_mae: 96996.5234
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 97010.1094 - mae: 97010.1094 - val_loss: 93170.6953 - val_mae: 93170.6953
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 91899.4844 - mae: 91899.4844 - val_loss: 86805.2188 - val_mae: 86805.2188
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 84451.3125 - mae: 84451.3125 - val_loss: 78553.7266 - val_mae: 78553.7266
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 75645.7578 - mae: 75645.7578 - val_loss: 69948.2812 - val_mae: 69948.2812
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 66976.2422 - mae: 66976.2422 - val_loss: 62384.2383 - val_mae: 62384.2383
Epoch 8/100
250/250 [==============================] - 1s 5ms/step - loss: 59907.5078 - mae: 59907.5078 - val_loss: 56780.1406 - val_mae: 56780.1406
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 55259.0664 - mae: 55259.0664 - val_loss: 53470.9336 - val_mae: 53470.9336
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 52603.5195 - mae: 52603.5195 - val_loss: 51927.1875 - val_mae: 51927.1875
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 51263.2695 - mae: 51263.2695 - val_loss: 51345.3945 - val_mae: 51345.3945
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 50718.0586 - mae: 50718.0586 - val_loss: 51113.5586 - val_mae: 51113.5586
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 50467.7305 - mae: 50467.7305 - val_loss: 50979.2031 - val_mae: 50979.2031
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 50333.3711 - mae: 50333.3711 - val_loss: 50901.9102 - val_mae: 50901.9102
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 50244.0898 - mae: 50244.0898 - val_loss: 50833.4375 - val_mae: 50833.4375
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 50181.0039 - mae: 50181.0039 - val_loss: 50780.6172 - val_mae: 50780.6172
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 50121.4453 - mae: 50121.4453 - val_loss: 50730.4961 - val_mae: 50730.4961
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 50067.7383 - mae: 50067.7383 - val_loss: 50684.7734 - val_mae: 50684.7734
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 50021.8320 - mae: 50021.8320 - val_loss: 50646.0547 - val_mae: 50646.0547
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 49979.1758 - mae: 49979.1758 - val_loss: 50611.9570 - val_mae: 50611.9570
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 49946.0430 - mae: 49946.0430 - val_loss: 50570.8906 - val_mae: 50570.8906
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 49911.7891 - mae: 49911.7891 - val_loss: 50544.7969 - val_mae: 50544.7969
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 49879.6250 - mae: 49879.6250 - val_loss: 50526.0195 - val_mae: 50526.0195
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 49849.6523 - mae: 49849.6523 - val_loss: 50502.7969 - val_mae: 50502.7969
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 49823.9023 - mae: 49823.9023 - val_loss: 50486.2812 - val_mae: 50486.2812
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 49800.4805 - mae: 49800.4805 - val_loss: 50468.1914 - val_mae: 50468.1914
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 49777.9375 - mae: 49777.9375 - val_loss: 50448.6562 - val_mae: 50448.6562
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 49756.7930 - mae: 49756.7930 - val_loss: 50442.5039 - val_mae: 50442.5039
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 49735.8203 - mae: 49735.8203 - val_loss: 50425.4570 - val_mae: 50425.4570
Epoch 30/100
250/250 [==============================] - 1s 4ms/step - loss: 49718.4570 - mae: 49718.4570 - val_loss: 50412.8438 - val_mae: 50412.8438
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 49698.8242 - mae: 49698.8242 - val_loss: 50401.3320 - val_mae: 50401.3320
Epoch 32/100
250/250 [==============================] - 1s 4ms/step - loss: 49680.6484 - mae: 49680.6484 - val_loss: 50392.8047 - val_mae: 50392.8047
Epoch 33/100
250/250 [==============================] - 1s 4ms/step - loss: 49666.8867 - mae: 49666.8867 - val_loss: 50378.0547 - val_mae: 50378.0547
Epoch 34/100
250/250 [==============================] - 1s 4ms/step - loss: 49654.8750 - mae: 49654.8750 - val_loss: 50377.1680 - val_mae: 50377.1680
Epoch 35/100
250/250 [==============================] - 1s 5ms/step - loss: 49636.5742 - mae: 49636.5742 - val_loss: 50373.2109 - val_mae: 50373.2109
Epoch 36/100
250/250 [==============================] - 1s 4ms/step - loss: 49626.2539 - mae: 49626.2539 - val_loss: 50371.3984 - val_mae: 50371.3984
Epoch 37/100
250/250 [==============================] - 1s 4ms/step - loss: 49610.7266 - mae: 49610.7266 - val_loss: 50361.6328 - val_mae: 50361.6328
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 49598.6055 - mae: 49598.6055 - val_loss: 50354.1758 - val_mae: 50354.1758
Epoch 39/100
250/250 [==============================] - 1s 4ms/step - loss: 49587.0625 - mae: 49587.0625 - val_loss: 50337.8711 - val_mae: 50337.8711
Epoch 40/100
250/250 [==============================] - 1s 4ms/step - loss: 49574.6914 - mae: 49574.6914 - val_loss: 50342.1914 - val_mae: 50342.1914
Epoch 41/100
250/250 [==============================] - 1s 4ms/step - loss: 49567.0312 - mae: 49567.0312 - val_loss: 50338.8164 - val_mae: 50338.8164
Epoch 42/100
250/250 [==============================] - 1s 4ms/step - loss: 49559.0352 - mae: 49559.0352 - val_loss: 50318.4219 - val_mae: 50318.4219
Epoch 43/100
250/250 [==============================] - 1s 4ms/step - loss: 49549.8398 - mae: 49549.8398 - val_loss: 50311.8047 - val_mae: 50311.8047
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 49538.5625 - mae: 49538.5625 - val_loss: 50318.2617 - val_mae: 50318.2617
Epoch 45/100
250/250 [==============================] - 1s 5ms/step - loss: 49529.6836 - mae: 49529.6836 - val_loss: 50322.3633 - val_mae: 50322.3633
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 49526.5117 - mae: 49526.5117 - val_loss: 50312.0039 - val_mae: 50312.0039
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 49517.0195 - mae: 49517.0195 - val_loss: 50313.9023 - val_mae: 50313.9023
Epoch 48/100
250/250 [==============================] - 1s 3ms/step - loss: 49507.3516 - mae: 49507.3516 - val_loss: 50316.8633 - val_mae: 50316.8633
Epoch 49/100
250/250 [==============================] - 1s 3ms/step - loss: 49499.9023 - mae: 49499.9023 - val_loss: 50316.1953 - val_mae: 50316.1953
Epoch 50/100
250/250 [==============================] - 1s 3ms/step - loss: 49496.0469 - mae: 49496.0469 - val_loss: 50318.1172 - val_mae: 50318.1172
Epoch 51/100
250/250 [==============================] - 1s 3ms/step - loss: 49486.8164 - mae: 49486.8164 - val_loss: 50296.3867 - val_mae: 50296.3867
Epoch 52/100
250/250 [==============================] - 1s 3ms/step - loss: 49485.8125 - mae: 49485.8125 - val_loss: 50301.0547 - val_mae: 50301.0547
Epoch 53/100
250/250 [==============================] - 1s 3ms/step - loss: 49473.9883 - mae: 49473.9883 - val_loss: 50308.6758 - val_mae: 50308.6758
Epoch 54/100
250/250 [==============================] - 1s 3ms/step - loss: 49468.4258 - mae: 49468.4258 - val_loss: 50310.1992 - val_mae: 50310.1992
Epoch 55/100
250/250 [==============================] - 1s 4ms/step - loss: 49460.3086 - mae: 49460.3086 - val_loss: 50314.7188 - val_mae: 50314.7188
Epoch 56/100
250/250 [==============================] - 1s 3ms/step - loss: 49453.5469 - mae: 49453.5469 - val_loss: 50316.6289 - val_mae: 50316.6289
Epoch 57/100
250/250 [==============================] - 1s 3ms/step - loss: 49447.9141 - mae: 49447.9141 - val_loss: 50311.5117 - val_mae: 50311.5117
Epoch 58/100
250/250 [==============================] - 1s 4ms/step - loss: 49442.4688 - mae: 49442.4688 - val_loss: 50311.6094 - val_mae: 50311.6094
Epoch 59/100
250/250 [==============================] - 1s 3ms/step - loss: 49438.3867 - mae: 49438.3867 - val_loss: 50303.0078 - val_mae: 50303.0078
Epoch 60/100
250/250 [==============================] - 1s 3ms/step - loss: 49434.4062 - mae: 49434.4062 - val_loss: 50301.6094 - val_mae: 50301.6094
Epoch 61/100
250/250 [==============================] - 1s 4ms/step - loss: 49426.7539 - mae: 49426.7539 - val_loss: 50307.2109 - val_mae: 50307.2109

In [19]:
%load_ext tensorboard

In [20]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 21268), started 0:18:53 ago. (Use '!kill 21268' to kill it.)

In [21]:
#evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f"Test MAE:{test_mae}")

63/63 [==============================] - 0s 2ms/step - loss: 50296.3867 - mae: 50296.3867
Test MAE:50296.38671875

In [23]:
model.save("regression_model.h5")